body {
  font-family: 'Arial';
  position: fixed;
  margin: 5px;
  width: 200mm;
  height: 100mm;
  background-color: #fff;
}

table {
  width: 100%;
  position: relative;
  border-collapse: collapse;
}


hr {
  border: 1px dashed;
  height: 300px;
  width: 0px;
  right: -5px;
  top: -5px;
  position: absolute;
}

br {
  content: ' ';
  display: block;
  margin: 12px 0;
  line-height: 12px;
}
