<table
      class="last_line"
      style="width: 197px; height: 260px; padding-left: 3px"
      cellspacing="0"
      cellpadding="0"
      border="1"
    >
      <tbody>
        <tr class="">
          <td><b>RECIBO DO SACADO</b></td>
        </tr>
        <tr>
          <td>
            <table class="line2" cellspacing="0" cellpadding="0">
              <tbody>
                <tr style="font-size: 9px">
                  <td style="font-size: 9px; padding-left: 10px">
                    N. Documento
                  </td>
                </tr>
                <tr style="font-size: 9px">
                  <td style="font-size: 11px; padding-left: 10px">{{documento2.numero}}</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table class="line2" cellspacing="0" cellpadding="0">
              <tbody>
                <tr style="font-size: 9px">
                  <td style="font-size: 9px; padding-left: 10px">Vencimento</td>
                </tr>
                <tr style="font-size: 9px">
                  <td style="font-size: 9px; padding-left: 10px">{{documento2.vencimento}}</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table class="line2" cellspacing="0" cellpadding="0">
              <tbody>
                <tr style="font-size: 9px">
                  <td style="font-size: 9px; padding-left: 10px">
                    Agência/Código cedente
                  </td>
                </tr>
                <tr style="font-size: 9px">
                  <td style="font-size: 9px; padding-left: 10px">{{documento2.codigoCedente}}</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table class="line2" cellspacing="0" cellpadding="0">
              <tbody>
                <tr style="font-size: 9px">
                  <td style="font-size: 9px; padding-left: 10px">
                    Nosso número
                  </td>
                </tr>
                <tr style="font-size: 9px">
                  <td style="font-size: 9px; padding-left: 10px">{{documento2.nossoNumero}}</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table class="line2" cellspacing="0" cellpadding="0">
              <tbody>
                <tr style="font-size: 9px">
                  <td style="font-size: 9px; padding-left: 10px">
                    (=) Valor documento
                  </td>
                </tr>
                <tr style="font-size: 9px">
                  <td style="font-size: 9px; padding-left: 10px">{{valor.documento}}</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table class="line2" cellspacing="0" cellpadding="0">
              <tbody>
                <tr style="font-size: 9px">
                  <td style="font-size: 9px; padding-left: 10px">
                    (-) Desconto / Abatimento
                  </td>
                </tr>
                <tr style="font-size: 9px">
                  <td style="font-size: 9px; padding-left: 10px">{{valor.descontos}}&nbsp;</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table class="line2" cellspacing="0" cellpadding="0">
              <tbody>
                <tr style="font-size: 9px">
                  <td style="font-size: 9px; padding-left: 10px">
                    (+) Mora / Multa
                  </td>
                </tr>
                <tr style="font-size: 9px">
                  <td style="font-size: 9px; padding-left: 10px">{{valor.multa}}&nbsp;</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table class="line2" cellspacing="0" cellpadding="0">
              <tbody>
                <tr style="font-size: 9px">
                  <td style="font-size: 9px; padding-left: 10px">
                    (=) Valor cobrado
                  </td>
                </tr>
                <tr style="font-size: 9px">
                  <td style="font-size: 9px; padding-left: 10px">{{valor.cobrado}}&nbsp;</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>

      </tbody>
    </table>
